<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <div id="app" v-cloak>

        <template v-for="(data, index ) in article">

            <div v-if="index===0">
                <h1 style="font-size:32px; text-align: center;">
                    分類:{{data.category}}
                </h1>
                <br>
                <h1 style="font-size:32px; text-align: center;">
                    標題:{{data.title}}
                </h1>
            </div>
            <a :href="`/reply.html?id=${data.id}`">
                <div v-bind:style="{
                    border: '1px solid blue',
                    padding:'10px 10px',
                    marginTop:'10px',
                    marginBottom: '10px',
                    marginLeft: data.ident * 50 + 'px'}">
                    <br>
                    <span>【{{data.account}}@{{data.createTime}}】</span>
                    <br>
                    {{data.content}}

                </div>
            </a>
        </template>

    </div>
</body>

</html>