<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>發文</title>
</head>

<body>

    <div id="app" v-cloak>
        <form>
            <label>分類</label>
            <select v-model="categoryId">
                <option v-for="option in categoryOptions" :value="option.id">
                    {{ option.category }}
                </option>
            </select>
            <br>
            <label>標題</label><input type="text" v-model="title">
            <br>
            <label>內容</label>
            <textarea v-model="content" rows="20" cols="100"></textarea>
            <br>
            <button type="button" @click="article_add($event)">發文</button>
            <br>
            <label v-show="postCheckResult.Code > 0"
                style="color: red; display:none">{{postCheckResult.Message}}</label>
        </form>
    </div>
</body>

</html>