<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入</title>
<script defer src="js/common.d66332ec.js"></script><script defer src="js/login.d66332ec.js"></script></head>

<body>

    <div id="app">

        <form :action="loginAPI" method="POST">

            <input type="text" v-bind:placeholder="tips1" v-model="account"> <br>
            <input type="password" :placeholder="tips2" v-model="password"> <br> <!-- v-bind: 可以簡寫成 :-->
            <button type="button" v-on:click="login($event)">登入</button>

        </form>
    </div>


</body>

</html>