<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入</title>
<script defer src="js/common.5c6a.js"></script><script defer src="js/member_login.5c6a.js"></script><link href="css/common.5c6a.css" rel="stylesheet"><link href="css/member_login.5c6a.css" rel="stylesheet"></head>

<body>

    <div id="app">
        <form>
            <input type="text" v-bind:placeholder="tips1" v-model="account"> <br>
            <input type="password" :placeholder="tips2" v-model="password"> <br>
            <button type="button" @click="login($event)">登入</button><br>
            <label v-show="result.Code>0" style="color: red; display:none">{{result.Message}}</label>
        </form>
    </div>
</body>

</html>