[v-cloak] {
    display: none;
}

body {
    background-color: rgb(140, 199, 181);
}

.content {
    border: 1px solid black;
    width: 320px;
    height: 180px;
    margin: 0 auto;
    display: block;
}
